@import './config.scss';
body {
    background-color: $bodyColor;
}
.container {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.header-inner {
    margin-top: 51px;
}
.navbar {
    @include flex_row();
    justify-content: space-between;
    .line {
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: all 0.3s;
        position: relative;
        bottom: 5px;
    }
    li:hover {
        .line {
            visibility: visible;
            width: 100%;
        }
    }
    .title {
        @extend %FontHeebo;
        color: $gray1;
        font-size: 36px;
        line-height: 53px;
    }
    .nav-items {
        @include flex_row();
        align-items: center;
        gap: 40px;
        .nav-link {
            @extend %Poppins500;
            color: $gray1;
        }
    }
}
.intro {
    margin-top: 104px;
    .text-wrapper {
        margin-left: 15%;
        max-width: 543px;
        p {
            margin-bottom: 16px;
            color: $lightblue;
            @extend %Poppins500;
            line-height: 27px;
        }
        h1 {
            color: $gray1;
            @extend %titlesFont;
        }
    }
    img {
        border-radius: 18px;
        width: 100%;
        margin-top: 42px;
    }
    .text-wrapper2 {
        max-width: 360px;
        margin-left: 15%;
        h2 {
            @extend %titlesFont;
            color: $gray1;
            margin-top: 42px;
        }
        p {
            @extend %poppins400;
            color: $gray2;
            margin: 42px 0;
        }
    }
}
fieldset {
    padding: 0 20px;
}
label {
    @extend %Poppins500;
    font-size: 14px;
    line-height: 21px;
    color: $gray3;
}
input[type=email]{
    margin-top: 9px;
    padding: 15px 0 15px 21px;
    background-color: $gray6;
    border-radius: 12px;
    border: none;
    display: inline;
    width: 100%;
    outline: none;
}
button {
    background-color: $lightblue;
    border-radius: 12px;
    border: none;
    padding: 11px 27px;
    color: #FFFFFF;
    position: relative;
    transition: all 0.3s ease-out;
}
.intro-form {
    button {
        bottom: 3.1em;
        left: 17.8em;
    }
    button:hover {
        background-color: $green;
    }  
}
.services {
    margin-top: 200px;
    h3 {
        max-width: 340px;
    }
}
h3 {
    @extend %h3fonts;
    color: $gray1;
}
.services-wrapper {
    @include flex_row();
    justify-content: center;
    gap: 74px;
    .each-service-wrapper {
        padding: 46px 34px;
        transition: all 0.3s ease-out;
        cursor: pointer;
        h4 {
            @extend %poppins700;
            color: $gray1;
            margin: 35px 0 24px 0;
        }
        p {
            margin-bottom: 30px;
        }
        .service-link {
            background-color: $gray4;
            padding: 9px 12px;
            color: $gray3;
            border-radius: 12px;
            transition: all 0.5s ease-out;
        }
        .service-link{
            &.diff {
                background-color: $lightblue;
                color: #FFFFFF;
            }
        }
        &.front {
            @extend %front-end-service;
        }
    }
    .each-service-wrapper:hover{
        @extend %front-end-service;
        .service-link {
            background-color: $lightblue;
            color: #FFFFFF;
        }
    }
}
.ui-ux {
    @extend %icon;
    background-color: $lightblue;
}
.front-end {
    @extend %icon;
    background-color: $green;
}
.back-end {
    @extend %icon;
    background-color: $red;
}
.design {
    margin-top: 194px;
}
.design-inner {
    h3 {
        max-width: 448px;
    }
    a {
        position: relative;
        color: $lightblue;
        left: 90%;
        display: inline;
        vertical-align: middle;
        padding: 10px;
        border: 1px solid transparent;
        transition: all 0.3s ease-out;
        bottom: 2em;
        i {
            display: inline;
            vertical-align: middle;
        }
    } 
    a:hover {
        border: 1px solid $lightblue;
        border-radius: 12px;
        box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    }
}
.photos-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 120px;
    .each-photo-wrapper {
        position: relative;
        @include flex_column();
        p {
            @extend %poppins300;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        h4 {
            @extend %poppins500;
        }
        img {
            border-radius: 12px;
            max-width: 545px;
        }
    }
    .each-photo-wrapper:nth-child(1) {
        top: 188px;
    }
    .each-photo-wrapper:nth-child(2){
        top: 40px;
    }
    .each-photo-wrapper:nth-child(3){
        margin-top: 188px;
        position: static;
    }
}
.team {
    margin-top: 100px;
}
.team-inner-above {
    @include flex_row();
    justify-content: space-between;
    .text-wrapper {
        h3 {
            max-width: 280px;
            margin: 7px 0 14px 0;
        }
        p {
            color: $red;
            @extend %poppins500;
            font-size: 18px;
            line-height: 27px;
        }
        .desc {
            @extend %poppins400;
            color: $gray2;
            font-size: 16px;
            line-height: 24px;
            max-width: 273px;
        }
    }
    .first-img-wrapper {
        display: inline-block;
        vertical-align: middle;
    }
    .img-wrapper {
        @include flex-row();
        gap: 24px;
        align-items: center;
        justify-content: center;
        img {
            border-radius: 12px;
            max-width: 100%;
        }
    }
    .others-wrapper {
        @include flex_column();
        img:nth-child(1){
            margin-bottom: 24px;
            max-width: 90%;
        }
    }
}
.team-inner-below {
    margin-top: 196px;
    h3 {
        max-width: 937px;
        margin-bottom: 49px;
    }
    .person-img-wrapper{
        @include flex-row();
        gap: 35px;
        img {
            max-width: 80px;
            border-radius: 12px;
        }
        h4 {
            @extend %poppins500;
        }
        p {
            @extend %poppins500;
            color: $gray3;
            font-size: 18px;
            line-height: 27px;
        }
    }
}
footer {
    background-color: $darkBlue;
    margin-top: 129px;
    color: #FFFFFF;
    .footer-inner {
        padding-top: 46px;
        padding-bottom: 18px;
        .above-wrapper {
            @include flex_row();
            justify-content: space-around;
            align-items: center;
            .contacts {
                @include flex_column();
                gap: 8px;
                h2 {
                    @extend %FontHeebo;
                    font-size: 36px;
                    line-height: 53px;
                    color: #FFFFFF;
                }
                .icons-wrapper {
                    @include flex-row();
                    gap: 11px;
                }
            }
            input[type=email]{
                max-width: 350px;
            }
            button {
                right: 6.5em;
            }
            label {
                color: #FFFFFF;
            }
            button:hover {
                background-color: $darkBlue;
            }
        }
        .nav-items {
            @include flex_column();
            justify-content: space-evenly;
            gap: 5px;
            .nav-link {
                color: #FFFFFF;
                @extend %poppins400;
                font-size: 18px;
                line-height: 200%;
            }
            li {
                transition: all 0.3s ease-out;
                width: 100%;
                display: flex;
            }
            .line {
                width: 0;
                height: 2px;
                background-color: #FFFFFF;
                visibility: hidden;
                transition: all 0.3s;
                position: relative;
                bottom: 3px;
            }
            li:hover {
                .line {
                    visibility: visible;
                    width: 100%;
                }
            }
        }
        p {
            margin-top: 100px;
            text-align: center;
            @extend %montserrat500;
        }
    }
}
@keyframes moveup {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 6px;
    }
}
footer {
    img {
        position: relative;
    }
    img:hover {
        animation-name: moveup;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
}
