@import './config.scss';
body {
    background-color: $bodyColor;
}
.container {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.header-inner {
    margin-top: 51px;
}
.navbar {
    @include flex_row();
    justify-content: space-between;
    .title {
        @extend %FontHeebo;
        color: $gray1;
        font-size: 36px;
        line-height: 53px;
    }
    .nav-items {
        @include flex_row();
        align-items: center;
        gap: 40px;
        .nav-link {
            @extend %Poppins500;
            color: $gray1;
        }
    }
}
.intro {
    margin-top: 104px;
    .text-wrapper {
        margin-left: 225px;
        max-width: 543px;
        p {
            margin-bottom: 16px;
            color: $lightblue;
            @extend %Poppins500;
            line-height: 27px;
        }
        h1 {
            color: $gray1;
            @extend %titlesFont;
        }
    }
    img {
        border-radius: 18px;
        width: 100%;
        margin-top: 42px;
    }
    .text-wrapper2 {
        max-width: 360px;
        margin-left: 225px;
        h2 {
            @extend %titlesFont;
            color: $gray1;
            margin-top: 42px;
        }
        p {
            @extend %poppins400;
            color: $gray2;
            margin: 42px 0;
        }
    }
}
.intro-form {
    fieldset {
        padding: 0 20px;
    }
    label {
        @extend %Poppins500;
        font-size: 14px;
        line-height: 21px;
        color: $gray3;
    }
    input[type=email]{
        margin-top: 9px;
        padding: 15px 0 15px 21px;
        background-color: $gray6;
        border-radius: 12px;
        border: none;
        display: inline;
        width: 100%;
        outline: none;
    }
    button {
        background-color: $lightblue;
        border-radius: 12px;
        border: none;
        padding: 11px 27px;
        color: #FFFFFF;
        position: relative;
        bottom: 3.1em;
        left: 17.8em;
        transition: all 0.3s ease-out;
    }
    button:hover {
        background-color: $green;
    }   
}
.services {
    margin-top: 200px;
    h3 {
        max-width: 340px;
    }
}
h3 {
    @extend %h3fonts;
    color: $gray1
}
.services-wrapper {
    @include flex_row();
    justify-content: center;
    gap: 74px;
    padding: 46px 34px;
    .each-service-wrapper {
        cursor: pointer;
        h4 {
            @extend %poppins700;
            color: $gray1;
            margin: 35px 0 24px 0;
        }
        p {
            margin-bottom: 30px;
        }
        .service-link {
            background-color: $gray4;
            padding: 9px 12px;
            color: $gray3;
            border-radius: 12px;
            transition: all 0.3s ease-out;
        }
        .service-link:hover {
            background-color: $lightblue;
            color: #FFFFFF;
        }
        .service-link{
            &.diff {
                background-color: $lightblue;
                color: #FFFFFF;
            }
        }
        &.front {
            @extend %front-end-service;
        }
    }
}
.ui-ux {
    @extend %icon;
    background-color: $lightblue;
}
.front-end {
    @extend %icon;
    background-color: $green;
}
.back-end {
    @extend %icon;
    background-color: $red;
}
