.navbar .title, footer .footer-inner .above-wrapper .contacts h2 {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 800;
}

.navbar .nav-items .nav-link, .intro .text-wrapper p, label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}

.intro .text-wrapper h1, .intro .text-wrapper2 h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.intro .text-wrapper2 p, .team-inner-above .text-wrapper .desc, footer .footer-inner .nav-items .nav-link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.services-wrapper .each-service-wrapper h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

.photos-wrapper .each-photo-wrapper p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

.photos-wrapper .each-photo-wrapper h4, .team-inner-above .text-wrapper p, .team-inner-below .person-img-wrapper h4, .team-inner-below .person-img-wrapper p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.ui-ux, .front-end, .back-end {
  color: #FFFFFF;
  padding: 19px;
  border-radius: 16px;
}

.services-wrapper .each-service-wrapper.front, .services-wrapper .each-service-wrapper:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  padding: 46px 34px;
}

footer .footer-inner p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
}

body {
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.header-inner {
  margin-top: 51px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .line {
  width: 0;
  height: 2px;
  background-color: black;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  bottom: 5px;
}

.navbar .cancel {
  display: none;
}

.navbar li:hover .line {
  visibility: visible;
  width: 100%;
}

.navbar .title {
  color: #333333;
  font-size: 36px;
  line-height: 53px;
}

.navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  gap: 40px;
}

.navbar .nav-items .nav-link {
  color: #333333;
}

.navbar .material-icons.burger {
  display: none;
}

.intro {
  margin-top: 104px;
}

.intro .text-wrapper {
  margin-left: 15%;
  max-width: 543px;
}

.intro .text-wrapper p {
  margin-bottom: 16px;
  color: #2D9CDB;
  line-height: 27px;
}

.intro .text-wrapper h1 {
  color: #333333;
}

.intro img {
  border-radius: 18px;
  width: 100%;
  margin-top: 42px;
}

.intro .text-wrapper2 {
  max-width: 360px;
  margin-left: 15%;
}

.intro .text-wrapper2 h2 {
  color: #333333;
  margin-top: 42px;
}

.intro .text-wrapper2 p {
  color: #4F4F4F;
  margin: 42px 0;
}

fieldset {
  padding: 0 20px;
}

label {
  font-size: 14px;
  line-height: 21px;
  color: #828282;
}

input[type=email] {
  margin-top: 9px;
  padding: 15px 0 15px 21px;
  background-color: #F2F2F2;
  border-radius: 12px;
  border: none;
  display: inline;
  width: 100%;
  outline: none;
}

button {
  background-color: #2D9CDB;
  border-radius: 12px;
  border: none;
  padding: 11px 27px;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.intro-form button {
  bottom: 3.1em;
  left: 17.8em;
}

.intro-form button:hover {
  background-color: #27AE60;
}

.services {
  margin-top: 200px;
}

.services h3 {
  max-width: 340px;
}

h3 {
  color: #333333;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 74px;
}

.services-wrapper .each-service-wrapper {
  padding: 46px 34px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.services-wrapper .each-service-wrapper h4 {
  color: #333333;
  margin: 35px 0 24px 0;
}

.services-wrapper .each-service-wrapper p {
  margin-bottom: 30px;
}

.services-wrapper .each-service-wrapper .service-link {
  background-color: #E0E0E0;
  padding: 9px 12px;
  color: #828282;
  border-radius: 12px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.services-wrapper .each-service-wrapper .service-link.diff {
  background-color: #2D9CDB;
  color: #FFFFFF;
}

.services-wrapper .each-service-wrapper:hover .service-link {
  background-color: #2D9CDB;
  color: #FFFFFF;
}

.ui-ux {
  background-color: #2D9CDB;
}

.front-end {
  background-color: #27AE60;
}

.back-end {
  background-color: #EB5757;
}

.design {
  margin-top: 194px;
}

.design-inner h3 {
  max-width: 448px;
}

.design-inner a {
  position: relative;
  color: #2D9CDB;
  left: 90%;
  display: inline;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  bottom: 2em;
  border-radius: 12px;
}

.design-inner a i {
  display: inline;
  vertical-align: middle;
}

.design-inner a:hover {
  background-color: #2D9CDB;
  color: #FFFFFF;
}

.photos-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 120px;
  -ms-grid-column: 20;
  grid-column: 20px;
}

.photos-wrapper .each-photo-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photos-wrapper .each-photo-wrapper p {
  margin-top: 20px;
  margin-bottom: 5px;
}

.photos-wrapper .each-photo-wrapper img {
  border-radius: 12px;
  max-width: 545px;
}

.photos-wrapper .each-photo-wrapper:nth-child(1) {
  top: 188px;
}

.photos-wrapper .each-photo-wrapper:nth-child(2) {
  top: 40px;
}

.photos-wrapper .each-photo-wrapper:nth-child(3) {
  margin-top: 188px;
  position: static;
}

.team {
  margin-top: 100px;
}

.team-inner-above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-inner-above .text-wrapper h3 {
  max-width: 280px;
  margin: 7px 0 14px 0;
}

.team-inner-above .text-wrapper p {
  color: #EB5757;
  font-size: 18px;
  line-height: 27px;
}

.team-inner-above .text-wrapper .desc {
  color: #4F4F4F;
  font-size: 16px;
  line-height: 24px;
  max-width: 273px;
}

.team-inner-above .first-img-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.team-inner-above .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-inner-above .img-wrapper img {
  border-radius: 12px;
  max-width: 100%;
}

.team-inner-above .others-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-inner-above .others-wrapper img:nth-child(1) {
  margin-bottom: 24px;
  max-width: 90%;
}

.team-inner-below {
  margin-top: 196px;
}

.team-inner-below h3 {
  max-width: 937px;
  margin-bottom: 49px;
}

.team-inner-below .person-img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}

.team-inner-below .person-img-wrapper img {
  max-width: 80px;
  border-radius: 12px;
}

.team-inner-below .person-img-wrapper p {
  color: #828282;
  font-size: 18px;
  line-height: 27px;
}

footer {
  background-color: #100E1D;
  margin-top: 129px;
  color: #FFFFFF;
}

footer .footer-inner {
  padding-top: 46px;
  padding-bottom: 18px;
}

footer .footer-inner .above-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
}

footer .footer-inner .above-wrapper .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

footer .footer-inner .above-wrapper .contacts h2 {
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
}

footer .footer-inner .above-wrapper .contacts .icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}

footer .footer-inner .above-wrapper input[type=email] {
  max-width: 350px;
}

footer .footer-inner .above-wrapper button {
  right: 6.5em;
}

footer .footer-inner .above-wrapper label {
  color: #FFFFFF;
}

footer .footer-inner .above-wrapper button:hover {
  background-color: #100E1D;
}

footer .footer-inner .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 5px;
}

footer .footer-inner .nav-items .nav-link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 200%;
}

footer .footer-inner .nav-items li {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-inner .nav-items .line {
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  bottom: 3px;
}

footer .footer-inner .nav-items li:hover .line {
  visibility: visible;
  width: 100%;
}

footer .footer-inner p {
  margin-top: 100px;
  text-align: center;
}

@-webkit-keyframes moveup {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 6px;
  }
}

@keyframes moveup {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 6px;
  }
}

footer img {
  position: relative;
}

footer img:hover {
  -webkit-animation-name: moveup;
          animation-name: moveup;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }
  .each-photo-wrapper img {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .navbar .nav-list-wrapper {
    position: absolute;
    left: -100%;
    top: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .cancel {
    display: none;
    position: absolute;
    top: 0;
    left: 1fr;
    right: 0;
    bottom: 0;
    margin: 40px 20px 0 0;
    height: 30px;
    width: 30px;
    font-size: 25px;
  }
  .navbar .material-icons.burger {
    display: block;
    color: #000000;
  }
  .nav-list-wrapper.active {
    left: 0;
    z-index: 999;
    position: fixed;
  }
  .nav-list-wrapper.active .cancel {
    display: block;
  }
  .services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photos-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .footer-inner .above-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */